<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<style>
  .button.activated{
    box-shadow: none !important;
    border-color: rgba(0,0,0,0) !important;
    outline: none !important;
  }
</style>
<ion-header>

  <ion-navbar color="primary" #content>
    <button ion-button icon-only [menuToggle]>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{db.currentGroup ? db.currentGroup.title : 'Select Group'}}
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-menu id="nav" [content]="content" >
  <ion-header>
    <ion-toolbar color="primary">

      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="changeGroup()" color="primary">
        Change group
      </button>
      <button ion-item (click)="editUserInfo()" color="primary">
        Edit user info
      </button>
      <button ion-item (click)="createNewGroup()" color="primary">
        Create new Group
      </button>
      <button ion-item (click)="db.getUserGroups()" color="primary">
        Get User Groups
      </button>
      <button ion-item (click)="auth.signOut()" color="primary">
        Sign out
      </button>
      <button ion-item (click)="closeMenu()" color="primary">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!--<ion-header>-->
  <!--<button ion-button (click)="menuCtrl.open()">-->
    <!--<ion-icon name="menu"></ion-icon>-->
  <!--</button>-->
  <!--<ion-title>{{db.currentGroup ? db.currentGroup.title : 'Select Group'}}</ion-title>-->
<!--</ion-header>-->


<ion-content padding>
  <ion-item *ngIf="db.currentGroup">
    Group Selected! {{db.currentGroup.title}}
  </ion-item>
  <ion-item>
    <ion-item-group>
      <ion-item>
          <button>up</button>
      </ion-item>
      <!--<ion-item-divider ></ion-item-divider>-->

      <ion-item>

        <!--<ion-list *ngIf="db.currentGroup">-->
          <!--<ion-item *ngFor="let g of db.currentGroup.transactions">-->

            <!--&lt;!&ndash;{{g.title}}&ndash;&gt;-->

          <!--</ion-item>-->
        <!--</ion-list>-->

        <ion-item>
          <button>down</button>
        </ion-item>


      </ion-item>
    </ion-item-group>
  </ion-item>


  <ion-list *ngIf="!db.currentGroup">
    <ion-item (click)="selectGroup(g.$key)" *ngFor="let g of db.userGroups">
      {{g.id}}
      {{g.title}}
      {{g.picture}}
    </ion-item>
  </ion-list>

  <!--<button ion-button (click)="auth.signOut()" color="primary">Sign out</button>-->
</ion-content>
